    <div class="container">
        <p>YelpCamp 2017, by Damian Reiter</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <% if(!currentUser) { %>
        <script>
        console.log("no user");
            $(".auth-req").attr("data-target", ".loginmodal");
            $(".auth-req").attr("data-toggle", "modal");
            $(".auth-req").attr("href", "");
            $(".auth-req").removeAttr("href", "");
        </script>
    <% } %>
    </body>
</html>