<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a new comment for <strong><%= campground.name %></strong></h1>
        <div style="width: 30%; margin: 35px auto">
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="comment">
                </div>
                <div class="form-group">
                    <input class="btn btn-large btn-success btn-block" type="submit">
                </div>
            </form>
            <a class="btn btn-large btn-danger"href="/campgrounds">Go back</a>
        </div>
        
    </div>
</div>

<% include ../partials/footer %>
